<table class="passive-dns-table">
  <thead>
    <tr>
      <th>
        Hostname
      </th>
      <th>
        Address
      </th>
      <th>
        First Seen
      </th>
      <th>
        Last Seen
      </th>
      <th>
        Record Type
      </th>
      <th>
        ASN
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each details.passive_dns as |dns|}}
      <tr>
        <td>
          <a
            class="p-link"
            href="https://otx.alienvault.com/indicator/hostname/{{
              dns.hostname
            }}"
          >
            {{dns.hostname}}
          </a>
        </td>
        <td>
          <a
            class="p-link"
            href="https://otx.alienvault.com/indicator/ip/{{dns.address}}"
          >
            {{dns.address}}
          </a>
        </td>
        <td>
          {{dns.first}}
        </td>
        <td>
          {{dns.last}}
        </td>
        <td>
          {{dns.record_type}}
        </td>
        <td>
          {{dns.asn}}
        </td>
        <td>
          {{#if dns.link}}
            <a href="https://otx.alienvault.com{{dns.link}}" target="_blank">
              {{fa-icon icon="external-link" fixedWidth=true}}
            </a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="text-center">
  Showing {{details.passive_dns.length}} of {{details.count}} results.
  <a
    class="p-link"
    href="https://otx.alienvault.com/indicator/hostname/{{entity.value}}"
  >
    View more.
  </a>
</div>