<div class="d-flex align-items-center justify-content-end copy-btn-container">
  <button class="btn copy-btn p-action" {{action "copyDomains"}} title="Copy All Domains to Clipboard">
    {{fa-icon icon="globe" fixedWidth=true}}
  </button>
  <button class="btn copy-btn p-action" {{action "copyData"}} title="Copy All Information to Clipboard">
    {{fa-icon icon="clipboard" fixedWidth=true}}
  </button>
  <div class="copy-success-message {{if showCopyMessage "visible" "hidden"}}">
    {{fa-icon icon="check" fixedWidth=true class="copy-success-icon"}}
    Copied All Information.
  </div>
  <div class="copy-success-message {{if showCopyDomainsMessage "visible" "hidden"}}">
    {{fa-icon icon="check" fixedWidth=true class="copy-success-icon"}}
    Copied All Domains.
  </div>
</div>

<div class="p-footnote mb-1">
  Showing first {{numEntriesToShow}} of {{details.count}} results
</div>

<div id="alienvault-lookup-container-{{uniqueIdPrefix}}">
  {{#each (take numEntriesToShow details.passive_dns) as | entry index |}}
  <div class="dns-entry">
    <div>
      <span class="p-key">Hostname: </span>
      <span class="p-value">
        <a href="https://otx.alienvault.com/{{entry.indicator_link}}">
          {{entry.hostname}}
          {{fa-icon icon="external-link-square" fixedWidth=false class="external-link-icon"}}
        </a>
      </span>
    </div>
    <div>
      <span class="p-key">Address: </span>
      <span class="p-value">{{entry.address}}</span>
    </div>
    <div>
      <span class="p-key">First Seen: </span>
      <span class="p-value">{{moment-format entry.first "MM/DD/YYYY HH:mm" timeZone=timezone}}</span>
    </div>
    <div>
      <span class="p-key">Last Seen: </span>
      <span class="p-value">{{moment-format entry.last "MM/DD/YYYY HH:mm" timeZone=timezone}}</span>
    </div>
    <div>
      <span class="p-key">Status: </span>
      <span class="p-value">
        {{#if entry.whitelisted}}
          Whitelisted
        {{else}}
          Unknown
        {{/if}}
      </span>
    </div>
    <div>
      <span class="p-key">Query Type: </span>
      <span class="p-value">{{entry.record_type}}</span>
    </div>
    {{#if entry.asn}}
      <div>
        <span class="p-key">ASN: </span>
        <span class="p-value">{{entry.asn}}</span>
      </div>
    {{/if}}
    {{#if entry.flag_title}}
      <div>
        <span class="p-key">Country: </span>
        <span class="p-value">{{entry.flag_title}}</span>
      </div>
    {{/if}}
  </div>
{{/each}}
</div>

<div class="mt-1">
  {{#if (eq numEntriesToShow details.passive_dns.length)}}
    <span class="p-action" {{action "showLess"}}>View less entries {{fa-icon icon="chevron-up" fixedWidth=true}}</span>
    <div class="p-footnote mt-1">
      Showing first {{numEntriesToShow}} of {{details.count}} results
    </div>
  {{else}}
    <span class="p-action" {{action "showAll"}}>View more entries {{fa-icon icon="chevron-down" fixedWidth=true}}</span>
  {{/if}}
</div>