<table class="passive-dns-table">
  <thead>
    <tr>
      <th>
        Hostname
      </th>
      <th>
        Address
      </th>
      <th>
        First Seen
      </th>
      <th>
        Last Seen
      </th>
      <th>
        Record Type
      </th>
      <th>
        ASN
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each details.passive_dns as |dns|}}
      <tr>
        <td data-label="Hostname">
          <a
            class="p-link"
            href="https://otx.alienvault.com/indicator/hostname/{{dns.hostname}}"
          >
            {{dns.hostname}}
          </a>
        </td>
        <td data-label="Address">
          <a
            class="p-link"
            href="https://otx.alienvault.com/indicator/ip/{{dns.address}}"
          >
            {{dns.address}}
          </a>
        </td>
        <td data-label="First Seen">
          {{dns.first}}
        </td>
        <td data-label="Last Seen">
          {{dns.last}}
        </td>
        <td data-label="Record Type">
          {{dns.record_type}}
        </td>
        <td data-label="ASN">
          {{dns.asn}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="text-center">
  Showing {{details.passive_dns.length}} of {{details.count}} results.
  <a class="p-link" href="https://otx.alienvault.com/indicator/hostname/{{entity.value}}">
    View more.
  </a>
</div>